.SearchBtn404 {
    display: none;
}
.Page {
    min-height: 49.3vh;
    display: flex;
    flex-direction: column;
}
.Content {
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media (min-width: 600px) {
    .SearchBtn404 {
        display: inline;
    }
}